# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .env
.env
.env.local
.env.*.local

# key
VITE_SUPABASE_URL=https://zdlhgljmnalezoyzwqfb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkbGhnbGptbmFsZXpveXp3cWZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDA5ODMsImV4cCI6MjA4NzU3Njk4M30.p90MlVl2tJLupqbWeJX-wd60lW8oYovI6tBtaUji8q0
VITE_GEMINI_API_KEY=AIzaSyCzhJencBl7Axw1AawYWuYM2wQ87r1pIks
